<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="jumbotron">
<h4>Yelp business name to classify:</h4>
    <div class="row">
      <form method="post">
        <dl>
          <dd><textarea rows="2" cols="60" name="posttext"></textarea></dd>
          <dd><input type="checkbox" name="verbose" value="1" checked="checked">Verbose</dd>
          <dd><input type="submit" value="Submit" class="btn btn-primary btn-sm"/></dd>
        </dl>
      </form>
    </div>


<p class="lead">
{% if results %}
{% set list1 = results.split('^') %}
{% for result in list1 %}
 {% set list2 = result.split('*') %}
<p><img src="{{list2[0]}}"> {{list2[1]}} 
{% endfor %}
{% endif%}	


</p>
</div>
{% endblock %}
