<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="jumbotron">
<h4>Location to search and businesses to get:</h4>
    <div class="row">
      <form method="post">
        <dl>
          <dd><textarea rows="1" cols="30" name="posttext"></textarea></dd>
          <dd><textarea rows="1" cols="5" name="limit"></textarea></dd>
          <dd><input type="checkbox" name="verbose" value="1" checked="checked"> Verbose<br>
          <dd><input type="submit" value="Submit" class="btn btn-primary btn-sm"/></dd>
        </dl>
      </form>
    </div>


  <p class="lead">

{% if scores %}

{% for item in scores|dictsort(false, 'value')|reverse %}
<a href="{{ item[0] }}">{{ item[0] }}</a> {{ scores[item[0]] }}<br>


{% endfor %}
{% endif %}


</p>
</div>
{% endblock %}


