<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<p>
<div class="jumbotron">
<h3>Art Finder</h4>
<p><p>
<form method="post">
        <dl>
          <dd>Location to start from:<textarea rows="1" cols="10" name="start"></textarea></dd>
          <dd>offset: <textarea rows="1" cols="10" name="offset"></textarea></dd>

          <dd><input type="submit" value="Batch" class="btn btn-primary btn-md"/></dd>
        </dl>
      </form></div>
{% endblock %}


