<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<p>
<div class="jumbotron">
<h4>Image URL to classify:</h4>
      <form method="post">
        <dl>
          <dd><textarea rows="1" cols="80" name="posttext"></textarea></dd>
          <dd><input type="submit" value="Score" class="btn btn-primary btn-md"/></dd>
        </dl>
      </form>

{% if results %}
 <p class="lead">
<script type="text/javascript" src="{{ url_for('static', filename='raphael-2.1.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='justgage.js') }}"></script>
<div id="gauge" class="200x160px"></div>
<script>
  var g = new JustGage({
    id: "gauge",
    value: {{results}},
    min: 0,
    max: 1,
    humanFriendlyDecimal: 2,
    decimals: 2,
    title: "Art %"
  });
</script>
{% endif %}
{{ results }}
</div>
{% endblock %}
